<!-- ion-header --> 
<ion-header>
	  <ion-toolbar color="primary" >

  	<!-- arrow back button -->
    <ion-buttons slot="start">
      <ion-button>
      	<ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- reviews -->
    <ion-title class="ion-text-center">
    	<strong>CN</strong>
    </ion-title>

    <!-- stars -->
    <ion-buttons slot="end"> 
      <ion-button (click)="filterReviews()">
      	<ion-icon name="options"></ion-icon>
      </ion-button>    	
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-header class="ion-no-padding">
  <ion-toolbar class="ion-no-padding">

  	<!-- arrow back button -->
    <ion-buttons slot="start">
      <ion-back-button icon="ios-arrow-back" defaultHref=""></ion-back-button>
    </ion-buttons>

    <!-- reviews -->
    <ion-title>
    	Reviews
    </ion-title>

    <!-- stars -->
    <ion-buttons slot="end" class="ion-margin-end">
       <ion-icon name="star" color="primary"></ion-icon>
       <ion-icon name="star" color="primary"></ion-icon>
       <ion-icon name="star" color="primary"></ion-icon>
       <ion-icon name="star-half" color="primary"></ion-icon>
       <ion-icon name="star-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<!-- ion-content-->
<ion-content>

	<!-- reviews -->
	<ion-card *ngFor="let review of reviews" class="ion-no-margin">
	  <ion-item lines="none">
	    <ion-icon class="ion-margin-end" name="contact" size="large"></ion-icon>
	    <ion-label>{{ review.reviewer?.username }}</ion-label>
	    <div *ngIf="review.stars === 1">
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star-outline"></ion-icon>
	    	<ion-icon name="star-outline"></ion-icon>
	    	<ion-icon name="star-outline"></ion-icon>
	    	<ion-icon name="star-outline"></ion-icon> 
	    </div>
	    <div *ngIf="review.stars === 2">
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star-outline"></ion-icon>
	    	<ion-icon name="star-outline"></ion-icon>
	    	<ion-icon name="star-outline"></ion-icon> 
	    </div>
	    <div *ngIf="review.stars === 3">
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star-outline"></ion-icon>
	    	<ion-icon name="star-outline"></ion-icon> 
	    </div>
	    <div *ngIf="review.stars === 4">
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star-outline"></ion-icon> 
	    </div>
	    <div *ngIf="review.stars === 5">
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star" color="primary"></ion-icon>
	    	<ion-icon name="star" color="primary"></ion-icon> 
	    </div>
	   
      <!--  <ion-icon name="star" color="primary"></ion-icon>
       <ion-icon name="star" color="primary"></ion-icon>
       <ion-icon name="star-half" color="primary"></ion-icon>
       <ion-icon name="star-outline"></ion-icon> -->
	  </ion-item>

	  <ion-card-content>
	  {{ review.text }}
	   
	  </ion-card-content>
<ion-grid class="ion-margin-start">
		  <ion-row> 
		    <ion-col>
		      {{ displayDate(review) }}
		    </ion-col>
		    <ion-col>
		      {{ review.likes }} likes
		    </ion-col>
		    <ion-col>
<!-- 		      <ion-icon *ngIf="isHeartByYou(review)" name="heart"></ion-icon>
		      <ion-icon *ngIf="!isHeartByYou(review)" name="heart-empty"></ion-icon> -->
		    </ion-col>
		  </ion-row>
		</ion-grid>
		
	</ion-card> 
	<!-- <ion-card class="ion-no-margin">
	  <ion-item lines="none">
	    <ion-icon class="ion-margin-end" name="contact" size="large"></ion-icon>
	    <ion-label>Johnny K.</ion-label>
	      <ion-icon name="star" color="primary"></ion-icon>
       <ion-icon name="star" color="primary"></ion-icon>
       <ion-icon name="star" color="primary"></ion-icon>
       <ion-icon name="star-half" color="primary"></ion-icon>
       <ion-icon name="star-outline"></ion-icon>
	  </ion-item>

	  <ion-card-content>
	   Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
	   
	  </ion-card-content>
<ion-grid class="ion-margin-start">
		  <ion-row> 
		    <ion-col>
		      1/19/19
		    </ion-col>
		    <ion-col>
		      100 likes
		    </ion-col>
		    <ion-col>
		      <ion-icon name="heart-empty"></ion-icon>
		    </ion-col>
		  </ion-row>
		</ion-grid>
		
	</ion-card> 
	<ion-card class="ion-no-margin">
	  <ion-item lines="none">
	    <ion-icon class="ion-margin-end" name="contact" size="large"></ion-icon>
	    <ion-label>Yolanda C.</ion-label>
	      <ion-icon name="star" color="primary"></ion-icon>
       <ion-icon name="star" color="primary"></ion-icon>
       <ion-icon name="star" color="primary"></ion-icon>
       <ion-icon name="star-half" color="primary"></ion-icon>
       <ion-icon name="star-outline"></ion-icon>
	  </ion-item>

	  <ion-card-content>
	   Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
	   
	  </ion-card-content>
<ion-grid class="ion-margin-start">
		  <ion-row> 
		    <ion-col>
		      1/19/19
		    </ion-col>
		    <ion-col>
		      100 likes
		    </ion-col>
		    <ion-col>
		      <ion-icon name="heart-empty"></ion-icon>
		    </ion-col>
		  </ion-row>
		</ion-grid>
		
	</ion-card>  -->

</ion-content>
<ion-footer> 
 	   <ion-item>
	    <ion-icon slot="start"  name="image" size="large"></ion-icon>
	    <ion-input placeholder="Add a review" [(ngModel)]="review.text"></ion-input>
	    <ion-fab-button slot="end" size="small" (click)="addReview()">
	    	<ion-icon name="add"></ion-icon>
	    </ion-fab-button>
	  </ion-item>
<!--   	<ion-button expand="full" class="ion-no-margin">
  		<ion-icon slot="start" name="add"></ion-icon>
  		Add review
  	</ion-button> -->
</ion-footer>